h1, h2, h3, h4 {
    color: #2BBBAD;
    font-family: 'Satisfy', cursive;
}

body {
    font-family: 'Pompiere', Arial, Tahoma, sans-serif;
    font-size: 30px;
}

html,
body,
header,
.view {
    height: 100%;

}

.navbar {
    z-index: 1;
}

.overlay .mask:hover {
    opacity: 0.5;
}

@media(min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}
