body {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    background: rgb(63, 94, 251);
    background: linear-gradient(312deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

a {
    color: #38a5fa;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

li {
    font-weight: 700;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -15px;
    margin-left: -15px;
}

h1,
h3,
h5 {
    padding: 5px;
    text-align: center;
    font-family: 'SofiaRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #6c1b9a;
}

.h2,
h2 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    color: #0368be;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.rounded-circle {
    border-radius: 50%!important;
}

img {
    vertical-align: middle;
    border-style: none;
    border-radius: 4%;
}

hr {
    border: 0;
    border-top: 1px solid #6c1b9a;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-image {
    border-radius: 5%;
}

form {
    display: inline;
    text-align: left;
}

.form-row {
    padding: 8px;
}

#formControl1 {
    background-color: #94bbe9;
}

.album {
    background-color: #456583;
}

.card {
    margin: 7px;
    padding: 5px;
    width: 22rem;
    filter: drop-shadow(10px 10px 4px #94bbe9);
}

i {
    margin: 15px;
    padding-left: 25px;
}