@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash);
body {
    margin: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-family: 'Berkshire Swash';
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    background: rgb(63, 94, 251);
    background: linear-gradient(312deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.jumbotron {
    box-shadow: 4px 4px 6px #d0e6f9;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(3, 104, 190, 1) 34%, rgba(187, 186, 187, 1) 87%);
}

a {
    color: aqua;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

li {
    font-size: 20px;
    font-weight: 300;
    background-color: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -15px;
    margin-left: -15px;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-size: 60px;
    font-weight: 500;
    color: #d0e6f9;
}

h3,
h5 {
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-weight: 600;
    color: #d0e6f9;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    color: aqua;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 1.5rem;
    text-align: center;
}

.col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.rounded-circle {
    border-radius: 50%!important;
}

img {
    vertical-align: middle;
    border-style: none;
    border-radius: 4%;
}

hr {
    border: 0;
    border-top: 1px solid #6c1b9a;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-image {
    border-radius: 5%;
}

form {
    display: inline;
    text-align: left;
}

.form-group row {
    padding: 8px;
}

#formControl1 {
    background-color: #94bbe9;
}

.form-check-input {
    color: #94bbe9;
}

textarea {
    box-shadow: 3px 3px 5px #94bbe9;
}

label {
    color: aqua;
}

#total {
    padding: 25px;
}

.album {
    background-color: #456583;
}

.card {
    margin: 7px;
    padding: 5px;
    width: 22rem;
    filter: drop-shadow(10px 10px 4px #94bbe9);
}

i {
    margin: 15px;
    padding-left: 25px;
}

@keyframes spinning {
    0% {
        ;
    }
}